<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
    <button  (click)="enableCardInput($event, null)">
    <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <card-input *ngIf="inputEnabled" [key]="key" (onNewData)="updateCards($event)"   ></card-input>
    <ion-card *ngFor="let card of cards"> 
        <button ion-item (click)="itemTapped($event, card)">{{card.title}}</button>       
    </ion-card>
    
    <button ion-item (click)="removeData($event, null)">Remove Data</button>
    
</ion-content>